body{
    font-family: Arial, Helvetica, sans-serif;
}
#main{
    width: 60%;
    margin: 1px auto;
    padding: 2px 1px;
    align-items: center;
    background-color: antiquewhite;
}
#title{
    background-color:bisque;
    margin-top: -20px;
    padding: 0;
    text-align: center;
}
#img-div{
    width: 70%;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}
#first{
    margin-top: -16px;
}
#image{
    background-color: aqua;
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}